<footer>
  <article>
    <p><img src="/images/icons8-location-50.png" alt="" class="footer-icon">Ellermanstraat 33, 2060 Antwerpen<br>
      <img src="/images/icons8-phone-50.png" alt="" class="footer-icon"> +324 12 34 56 78
    </p>
  </article>
  <article>
    <p>Authors: TYJ <br>
      <a href="">info@TYJ-Pokémons.com</a>
    </p>
  </article>
</footer>
</body>
</html>