    <!-- popup code header  -->

    <dialog id="popup-CurrentPokemon" class="popup">
      <h2>Selecteer een Pokémon</h2>
      <input
        type="text"
        id="myInputCurrentPokemon"
        onkeyup="filterCurrentPokemonPokemonByName()"
        placeholder="Pokemon zoeken ..."
      />
      <section class="image-container" id="image-container-CurrentPokemon">
        <form style="display: flex; flex-wrap: wrap;" action="/setCurrentPokemon" method="post">
          <% for(let pokemon of playerPokemons) { %>
            <article>
              <figure>
                <button style="border: none; background-color: white;"
                value="<%= pokemon.id %>"
                type="submit"
                name="setCurrentPokemonID">
                  <img
                  src="<%= pokemon.image %>"
                  />
                </button>
                <figcaption>
                  <p><%= pokemon.name %></p>
                </figcaption>
              </figure>
            </article>
            <% } %>
        </form>
      </section>
      <button onclick="closePopupCurrentPokemon()" id="button">Close</button>
    </dialog>
    <div id="overlay-CurrentPokemon" class="overlay"></div>
<footer class="footer-2">
  <p>&copy;TYJ | 2024</p>
</footer>
</body>
</html>