    <!-- popup code header  -->

    <dialog id="popup-CurrentPokemon" class="popup">
      <h2>Selecteer een Pokémon</h2>
      <input
        type="text"
        id="myInputCurrentPokemon"
        onkeyup="filterCurrentPokemonPokemonByName()"
        placeholder="Pokemon zoeken ..."
      />
      <section class="image-container" id="image-container-CurrentPokemon">
        <% for(let pokemon of pokemons) { %>
        <article>
          <figure>
            <img
              src="<%= pokemon.image %>"
              onclick="selectCurrentPokemon('<%= pokemon.name %>')"
            />
            <figcaption>
              <p><%= pokemon.name %></p>
            </figcaption>
          </figure>
        </article>
        <% } %>
      </section>
      <button onclick="closePopupCurrentPokemon()" id="button">Close</button>
    </dialog>
    <div id="overlay-CurrentPokemon" class="overlay"></div>
<footer class="footer-2">
  <p>&copy;TYJ | 2024</p>
</footer>
</body>
</html>