<footer class="footer-1-landing" style="justify-content: center;">
  <article>
    <p>&copy;AP-Hogeschool | 2024</p>
    <p><img src="/images/icons8-location-50-landing.png" alt="" class="footer-icon">Ellermanstraat 33, 2060 Antwerpen<br>
    </p>
  </article>
</footer>
<footer class="footer-2-landing">
</footer>
</body>
</html>