<footer class="footer-1-landing">
  <article>
    <p>
      <img src="/images/LogoAP.png" alt="" class="footer-logo">
    </p>
  </article>
  <article>
    <p><img src="/images/icons8-location-50-landing.png" alt="" class="footer-icon">Ellermanstraat 33, 2060 Antwerpen<br>
      <img src="/images/icons8-phone-50-landing.png" alt="" class="footer-icon"> +324 12 34 56 78
    </p>
  </article>
  <article>
    <p>Authors: TYJ <br>
      <a href="">info@TYJ-Pokémons.com</a>
    </p>
  </article>
</footer>
<footer class="footer-2-landing">
  <p>&copy;TYJ 2024</p>
</footer>
</body>
</html>