<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/pokémon.css" />
    <title>TYJ-Pokémons</title>
  </head>
  <body>
    <nav>
      <a href="/"><img src="/images/Logo.png" alt="" /></a>
      <a href="/vechten">Vechten</a>
      <a href="/vergelijken">Vergelijken</a>
      <img
        src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/132.png"
        alt="CuPo"
        class="current-pokemon"
      />
      <a href="/login">Login</a>
      <img src="/images/Default_pfp.svg.png" alt="PFP" class="pfp-nav">
    </nav>
  </body>
</html>
