<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/pokémon.css" />
    <title>TYJ-Pokémons</title>
  </head>
  <body>
    <nav class="nav-landing">
      <a href="/"><img src="/images/LogoAP.png" alt="" /></a>
      <a href="/login" class="login-landing"
        >
        <img src="/images/Default_pfp.svg.png" alt="PFP" class="pfp-nav"
      /></a>
    </nav>
  </body>
  <script>
    // script dient voor de dropdown nav
    // const hamburger = document.querySelector(".hamburger");
    // const dropdown = document.querySelector(".dropdown");

    // hamburger.addEventListener("click", () => {
    //   dropdown.classList.toggle("open");
    // });
  </script>
</html>
