<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="icon" type="image/x-icon" href="/images/Favicon-pikachu.png" />
    <link rel="stylesheet" href="/styles/pokémon.css" />
    <script src="/javascript/main.js" defer></script>
    <title>TYJ-Pokémons</title>
  </head>
  <body>
    <nav>
      <% if (currentPokemon === undefined || currentPokemon === null) { %>
      <img
        onclick="openPopupCurrentPokemon()"
        src="/images/Question-mark.png"
        id="current-pokemon"
        class="current-pokemon"
        style="margin-right: auto"
      />
      <% } else { %>
      <img
        onclick="openPopupCurrentPokemon()"
        src="<%= currentPokemon.image %>"
        id="current-pokemon"
        class="current-pokemon"
        style="margin-right: auto"
      />
      <% } %>
      <a href="/"><img src="/images/Logo.png" style="scale: 1.5;" /></a>
      <button onclick="openMenu()" class="menu-hamburger">
        <i class="fa fa-bars" style="font-size: 40px"></i>
      </button>
      <section id="overlay-Menu" class="overlay-Menu">
        
          <button class="layer-close-button" onclick="closeMenu()">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
          
             <% if (currentPokemon === undefined || currentPokemon === null) { %>
              <img style="background-color: rgb(255, 255, 255, 0); border: none; width: 120px; height: 120px; margin-left: -5px; margin-top: 30px;"
              onclick="openPopupCurrentPokemon()"
              src="/images/Question-mark.png"
              id="current-pokemon"
              class="current-pokemon"
              style="margin-right: auto"
            />
            <% } else { %>
              <img style="background-color: rgb(255, 255, 255, 0); border: none; width: 120px; height: 120px; margin-left: 0px; margin-top: 30px;"
              onclick="openPopupCurrentPokemon()"
              src="<%= currentPokemon.image %>"
              id="current-pokemon"
              class="current-pokemon"
              style="margin-right: auto"
            />
            <% } %>
          
        <ul class="menu" style="padding: 0">
          <li><a href="/home">Home</a></li>
          <li><a href="/pokedex">PokéDex</a></li>
          <li><a href="/myPokemons">profiel</a></li>
          <li><a href="/landingpage">land pagina</a></li>
        </ul>
        <article class="logout-article">
        <img src="/images/logout.gif" alt="">
        <!--https://www.deviantart.com/drakesycamore/art/Pikachu-Waving-801906126-->
        <a href="/logout"><button class="logoutbutt">uitloggen</button></a>
        </article>
      </section>
    </nav>
  </body>
</html>
