<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="icon" type="image/x-icon" href="/images/Favicon-pikachu.png" />
    <link rel="stylesheet" href="/styles/pokémon.css" />
    <script src="/javascript/main.js" defer></script>
    <title>TYJ-Pokémons</title>
  </head>
  <body>
    <nav>
      <img src="/images/logo-ap.png" style="margin-right: auto; scale: 2; " />
      <a href="/"><img src="/images/Logo.png" style="scale: 1.5; margin-top: 15px;" /></a>
      <button onclick="openMenu()" class="menu-hamburger">
        <i class="fa fa-bars" style="font-size: 40px"></i>
      </button>
      <section id="overlay-Menu" class="overlay-Menu">
        <ul class="menu" style="padding: 0">
          <li style="margin: 0; border: none">
            <button class="layer-close-button" onclick="closeMenu()">
              <i class="fa fa-times" aria-hidden="true"></i>
            </button>
            <a href="/"><img src="/images/Logo.png" alt="" /></a>
          </li>
          <li><a href="/home">Home</a></li>
          <li><a href="/pokedex">PokéDex</a></li>
          <li><a href="/myPokemons">Mijn Pokemons</a></li>
          <li><a href="/pokeBattler">Pokemon Battler</a></li>
          <li><a href="/catchPokemon">Pokemon vangen</a></li>
          <li><a href="/compareSelect">Pokemon vergelijken</a></li>
          <li><a href="/guessPokemon">Who’s that pokemon</a></li>
        </ul>
      </section>
    </nav>
  </body>
</html>
