<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/styles/pokémon.css" />
    <title>TYJ-Pokémons</title>
  </head>
  <body>
    <nav>
      <a href="/"><img src="/images/Logo.png" alt="" /></a>
      <button onclick="openMenu()" class="menu-hamburger">
        <i class="fa fa-bars" style="font-size: 40px"></i>
      </button>
      <section id="overlay-Menu" class="overlay-Menu">
        <ul class="menu" style="padding: 0">
          <li style="margin: 0; border: none">
            <button class="layer-close-button" onclick="closeMenu()">
              <i class="fa fa-times" aria-hidden="true"></i>
            </button>
          </li>
          <li><a href="/home">Home</a></li>
          <li><a href="/pokedex">PokéDex</a></li>
          <li><a href="/myPokemons">Mijn Pokemons</a></li>
          <li><a href="/vechten">Pokemon Battler</a></li>
          <li><a href="/catchPokemon">Pokemon vangen</a></li>
          <li><a href="/vergelijken">Pokemon vergelijken</a></li>
          <li><a href="/guessPokemon">Who’s that pokemon</a></li>

          <li>
            <p
              style="
                margin: auto;
                font-size: 25px;
                font-weight: 900;
                margin-right: 10px;
              "
            >
              Huidige Pokémon :
            </p>
            <img
              onclick="openPopupCurrentPokemon()"
              src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/101.png"
              id="current-pokemon"
              style=""
              class="current-pokemon"
            />
          </li>
        </ul>
      </section>
      <div id="overlay" class="overlay"></div>
    </nav>
  </body>
  <script>
    // script dient voor de sidepdown nav
    function openMenu() {
      document.getElementById("overlay-Menu").style.display = "block";
      document.getElementById("overlay").style.display = "block";
    }
    function closeMenu() {
      document.getElementById("overlay-Menu").style.display = "none";
      document.getElementById("overlay").style.display = "none";
    }
  </script>
</html>
