<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="/images/LogoAP.png">
    <link rel="stylesheet" href="/styles/pokémon.css" />
    <title>TYJ-Pokémons</title>
  </head>
  <body>
    <nav class="nav-landing">
      <a href="/"><img src="/images/LogoAP.png" alt="" /></a>
      <a href="/login" class="login-landing"
        >
        <img src="/images/Default_pfp.svg.png" alt="PFP" class="pfp-nav"
      /></a>
    </nav>
  </body>
</html>
