<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/pokémon.css" />
    <title> TYJ-Pokémons </title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/vechten">vechten</a></li>
        <li><a href="/vergelijken">vergelijken</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </nav>
  </body>
</html>
