<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TYJ</title>
  </head>
  <body>
    <%- include('partials/header'); %>
    <main class="main-404">
        <h2>Sorry</h2>
        <h1>4<img src="/images/Poké_Ball_icon.svg.png" alt="" class="pokeball-404">4</h1>
        <h2>Pagina niet gevonden</h2>
    </main>
    <%- include('partials/footer'); %>
  </body>
</html>
