<%- include('partials/header'); %>
<section>
  <section>
    <article></article>
    <article></article>
  </section>
  <button type="submit">Vergelijken</button>
</section>
<%- include('partials/footer'); %>
