<%- include('partials/header'); %>
<main style="margin-bottom: 25px; display: flex; flex-direction: column">
  <section class="flex-container-sengle-item" style="position: relative">
    <article>
      <figure>
        <h2>????????</h2>
        <img
          src="<%= pokemons[randomNumber].image %>"
          style="filter: brightness(0) saturate(100%)"
        />
      </figure>
    </article>
  </section>
  <input
    class="input"
    placeholder="Guess Pokémon-naam"
    style="
      margin-top: 25px;
      width: 350px;
      text-align: center;
      font-size: 25px;
      height: 30px;
      border: 3px solid black;
    "
  />
</main>
<%- include('partials/footer'); %>
