<%- include('partials/header'); %>
<main style="flex-direction: column">
  <!-- <h1>what would you like to do?</h1> -->
  <section class="home-page">
    <article class="home-page-option">
      <a href="/vergelijken">
          <img  src="/images/vergelijken.png" alt="">
      </a>
    </article>
    <article class="home-page-option">
      <a href="/catchPokemon">
          <img src="/images/vangen.png" alt="">
      </a>
    </article>
    <article class="home-page-option">
      <a href="/vechten">
          <img src="/images/vechten.png" alt="">
      </a>
    </article>
    <article class="home-page-option">
      <a href="/pokedex">
          <img src="/images/pokedex.png" alt="">
      </a>
    </article>
    <article class="home-page-option">
      <a href="/guessPokemon">
          <img src="/images/wtpkm.png" alt="">
      </a>
    </article>
    <article class="home-page-option">
      <a href="/myPokemons">
          <img src="/images/mypkmn.png" alt="">
      </a>
    </article>
  </section>
</main>
<%- include('partials/footer'); %>
