<%- include('partials/header'); %>
<section class="flex-container">
  <% for(let pokemon of pokemons) { %>
  <article>
    <img src="<%= pokemon.image %>" alt="img" />
    <a href="/pokemon/info/<%= pokemon.id %>">
      <button type="submit">INFO</button>
    </a>
  </article>
  <% } %>
</section>
<%- include('partials/footer'); %>
