<%- include('partials/header'); %>
<main style="flex-direction: column">
  <!-- <h1>what would you like to do?</h1> -->
  <section class="home-page">
    <article class="home-page-option">
      <a href="/vergelijken">
          <img  src="/images/vergelijken.png" alt="">
          <p>vergelijken</p>
<!--https://www.google.com/search?q=pokemon+battlericon&tbm=isch&ved=2ahUKEwjT_Ze3utqFAxWvUqQEHYIODbwQ2-cCegQIABAA&oq=pokemon+battlericon&gs_lp=EgNpbWciE3Bva2Vtb24gYmF0dGxlcmljb25I5xJQyQZYoRJwAHgAkAEAmAFCoAGgA6oBATi4AQPIAQD4AQGKAgtnd3Mtd2l6LWltZ8ICBhAAGAcYHsICCBAAGAcYCBgeiAYB&sclient=img&ei=-sUoZtOYEK-lkdUPgp204As&bih=695&biw=1536#imgrc=OIgbxktMSEYhRM--></a>
    </article>
    <article class="home-page-option">
      <a href="/catchPokemon">
          <img src="/images/vangen.png" alt="">
          <p>vangen</p>
          <!--https://www.google.com/search?sca_esv=1a0f9f064b6384e7&sxsrf=ACQVn09HmQGmbhZ4805P6pMeCRP79ad1qw:1713948127219&q=mijn+pokemon+icon&tbm=isch&source=lnms&sa=X&ved=2ahUKEwiH6KSqutqFAxX9RKQEHdXzCE0Q0pQJegQICxAB&biw=1536&bih=695&dpr=1.25#imgrc=XCn6FTEOfeDr0M-->
      </a>
    </article>
    <article class="home-page-option">
      <a href="/vechten">
          <img src="/images/vechten.png" alt="">
          <p>vechten</p>
                    <!--https://www.google.com/search?sca_esv=1a0f9f064b6384e7&sxsrf=ACQVn08VQV0ukpwaWgLo4xw9Q9O9_hWOLA:1713947675191&q=pokemon+battle+icon&tbm=isch&source=lnms&sa=X&ved=2ahUKEwiMlt_SuNqFAxVnQ6QEHWcOBk0Q0pQJegQIDBAB&biw=1536&bih=695&dpr=1.25#imgrc=OVaZoloxTLi3fM -->
      </a>
    </article>
    <article class="home-page-option">
      <a href="/pokedex">
          <img src="/images/pokedex.png" alt="">
          <p>pokedex</p>
          <!--https://www.google.com/search?sca_esv=1a0f9f064b6384e7&sxsrf=ACQVn085aEyEIagDCoKi02gwL2Be51dpeg:1713948140793&q=pokedex+icon&tbm=isch&source=lnms&sa=X&ved=2ahUKEwj7qeGwutqFAxWEfqQEHU2DCwQQ0pQJegQIDxAB&biw=1536&bih=695&dpr=1.25#imgrc=Vb64M8QlKXgB0M-->
      </a>
    </article>
    <article class="home-page-option">
      <a href="/guessPokemon">
          <img src="/images/wtpkm.png" alt="">
          <p>mini spel</p>
          <!--https://www.google.com/search?q=who%27s+that+pokemon++pokemon&tbm=isch&ved=2ahUKEwij2aPbu9qFAxXVvScCHbLNCmsQ2-cCegQIABAA&oq=who%27s+that+pokemon++pokemon&gs_lp=EgNpbWciG3dobydzIHRoYXQgcG9rZW1vbiAgcG9rZW1vbjIGEAAYCBgeSLUSUOMMWOMMcAB4AJABAJgBMqABWqoBATK4AQPIAQD4AQGKAgtnd3Mtd2l6LWltZ8ICBBAjGCeIBgE&sclient=img&ei=UscoZqPoF9X7nsEPspur2AY&bih=695&biw=1519&hl=nl#imgrc=CjWVJjHRBTGq8M-->
      </a>
    </article>
    <article class="home-page-option">
      <a href="/myPokemons">
          <img src="/images/mypkmn.png" alt="">
          <p>mijn pokemons</p>
          <!--https://www.google.com/search?q=pokemon+icon&tbm=isch&ved=2ahUKEwj30r7LutqFAxXATaQEHbEUCvoQ2-cCegQIABAA&oq=pokemon+icon&gs_lp=EgNpbWciDHBva2Vtb24gaWNvbjIFEAAYgAQyBRAAGIAEMgQQABgeMgQQABgeMgQQABgeMgQQABgeMgQQABgeMgQQABgeMgQQABgeMgQQABgeSLodUMYGWOMbcAF4AJABAZgB5wKgAa8GqgEHNi4xLjAuMbgBA8gBAPgBAYoCC2d3cy13aXotaW1nwgIHEAAYgAQYE8ICCBAAGBMYCBgewgIEECMYJ8ICCBAAGIAEGLEDiAYB&sclient=img&ei=JMYoZvewM8CbkdUPsamo0A8&bih=695&biw=1536#imgrc=_Olrw8HQ8SOm2M-->
      </a>
    </article>
  </section>
</main>
<%- include('partials/footer'); %>
