<body>
  <%- include('partials/header'); %>
  <main class="home_page">
    <section>
     <article> <a href="/vechten"
        class="home"><h2>vechten</h2></a
      ></article>
      <article> <a href="/vergelijken"
        class="home"><h2>vergelijken</h2></a
      ></article>
      <article> <a href="/pokedex"
        class="home"><h2>pokedex</h2></a
      ></article>
      <article> <a href="/whosthatpokemon"
        class="home"><h2>who's that pokemon</h2></a
      ></article>
      <article> <a href="/pokemon vangen"
        class="home"><h2>vechten</h2></a
      ></article>
      <article> <a href="/..."
        class="home"><h2>...</h2></a
      ></article>
    </section>
  </main>
  <%- include('partials/footer'); %>
</body>

