<%- include('partials/header'); %>
<main style="flex-direction: column">
  <!-- <h1>what would you like to do?</h1> -->
  <section class="home-page">
    <article class="home-page-option">
      <a href="/vergelijken">
        <img
          src="https://wallpapers-clan.com/wp-content/uploads/2023/12/pokemon-pokeball-pattern-desktop-wallpaper-preview.jpg"
          width="4000"
          height="2666"
        />
        <aside class="layer">
          <button type="submit">Pokemon vergelijken</button>
        </aside>
      </a>
    </article>
    <article class="home-page-option">
      <a href="/catchPokemon">
        <img
          src="https://wallpapers-clan.com/wp-content/uploads/2023/12/pokemon-pokeball-pattern-desktop-wallpaper-preview.jpg"
          width="4000"
          height="2666"
        />
        <aside class="layer">
          <button type="submit">Pokemon vangen</button>
        </aside>
      </a>
    </article>
    <article class="home-page-option">
      <a href="/vechten">
        <img
          src="https://wallpapers-clan.com/wp-content/uploads/2023/12/pokemon-pokeball-pattern-desktop-wallpaper-preview.jpg"
          width="4000"
          height="2666"
        />
        <aside class="layer">
          <button type="submit">Pokemon Battler</button>
        </aside>
      </a>
    </article>
    <article class="home-page-option">
      <a href="/pokedex">
        <img
          src="https://wallpapers-clan.com/wp-content/uploads/2023/12/pokemon-pokeball-pattern-desktop-wallpaper-preview.jpg"
          width="4000"
          height="2666"
        />
        <aside class="layer">
          <button type="submit">PokéDex</button>
        </aside>
      </a>
    </article>
    <article class="home-page-option">
      <a href="/guessPokemon">
        <img
          src="https://wallpapers-clan.com/wp-content/uploads/2023/12/pokemon-pokeball-pattern-desktop-wallpaper-preview.jpg"
          width="4000"
          height="2666"
        />
        <aside class="layer">
          <button type="submit">Who’s that pokemon</button>
        </aside>
      </a>
    </article>
    <article class="home-page-option">
      <a href="/myPokemons">
        <img
          src="https://wallpapers-clan.com/wp-content/uploads/2023/12/pokemon-pokeball-pattern-desktop-wallpaper-preview.jpg"
          width="4000"
          height="2666"
        />
        <aside class="layer">
          <button type="submit">Mijn Pokemons</button>
        </aside>
      </a>
    </article>
  </section>
</main>
<%- include('partials/footer'); %>
