<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TYJ</title>
  </head>
  <body>
    <%- include('partials/header'); %>
    <main class="main-landing">
      <section>
        <a href="/starters"
          ><article><h3>Pokémon</h3></article></a
        >
        <a href="/noaccess"
          ><article><h3>FIFA</h3></article></a
        >
        <a href="/noaccess"
          ><article><h3>Fortnite</h3></article></a
        >
        <a href="/noaccess"
          ><article><h3>LOTR</h3></article></a
        >
        <a href="/noaccess"
          ><article><h3>Lego Masters</h3></article></a
        >
        <a href="/noaccess"
          ><article><h3>MTG</h3></article></a
        >
      </section>
    </main>
    <%- include('partials/footer'); %>
  </body>
</html>
