<%- include('partials/headerLanding'); %>
<style>
  /* scrollbar color */
  ::-webkit-scrollbar-thumb,
  ::-webkit-scrollbar-thumb:hover {
    background: #f42323;
    border-radius: 10px;
  }
</style>
<body style="background-image: none">
  <main class="main-landing">
    <section>
      <a href="/login" class="pokemon-landing"
        ><article><h3>Pokémon</h3></article></a
      >
      <a href="/" onclick="alertNoAccess() " class="fifa"
        ><article><h3>FIFA</h3></article></a
      >
      <a href="/" onclick="alertNoAccess() " class="fortnite"
        ><article><h3>Fortnite</h3></article></a
      >
      <a href="/" onclick="alertNoAccess() " class="lotr"
        ><article><h3>LOTR</h3></article></a
      >
      <a href="/" onclick="alertNoAccess() " class="lm"
        ><article><h3>Lego Masters</h3></article></a
      >
      <a href="/" onclick="alertNoAccess() " class="mtg"
        ><article><h3>MTG</h3></article></a
      >
    </section>
  </main>
  <script>
    function alertNoAccess() {
      alert(`U hebt geen toegang tot dit project`);
    }
  </script>
  <%- include('partials/footerLanding'); %>
</body>
