<%- include('partials/headerLogin'); %>
<body>
  <main>
    <section class="main_login">
      <h2>Login</h2>
      <br />
      <form action="/login" method="post" class="login">
        <label for="username:"> Gebruikersnaam </label>
        <input
          class="input"
          type="text"
          id="username"
          name="username"
          value="admin@ap.be"
          required
        />
        <br />
        <label for="password"> Wachtwoord </label>
        <input
          class="input"
          type="password"
          id="password"
          name="password"
          value="admin"
          required
        />
        <br />
        <input class="submit" type="submit" value="Login" />
      </form>
      <br />
      <div>Heeft u geen account?<a href="/signup">Sign Up </a></div>
    </section>
  </main>
  <% if (message) { %>
    <div
      id="overlay-message-CurrentPokemon"
      style="display: block"
      class="overlay"
    >
      <dialog
        id="popup-message-CurrentPokemon"
        style="display: block"
        class="popup"
      >
        <h2><%= message %></h2>
        <button
          style="float: right"
          onclick="closePopupMessageCurrentPokemon()"
          id="button"
        >
          Close
        </button>
      </dialog>
    </div>
    <% } %> 
</body>
<%- include('partials/footerLogin'); %>
