<%- include('partials/header'); %>
<section>
  <div>
    <h2>Login</h2>
    <br />
    <form action="/login" method="POST">
      <label for="username:"> Username </label>
      <input
        type="text"
        id="username"
        name="username"
        value="user_1"
        required
      />
      <label for="password"> Password </label>
      <input
        type="password"
        id="password"
        name="password"
        value="123456789"
        required
      />
      <input type="submit" />
    </form>
    <br />
    <div>Don't have an account? <a href="/signup">Sign Up </a></div>
  </div>
</section>
<%- include('partials/footer'); %>
