<%- include('partials/header'); %>
<body>
  <main>
    <section class="main_login">
      <h2>Login</h2>
      <br />
      <form action="/login" method="POST" class="login">
        <label for="username">Gebruikersnaam</label>
        <input
          class="input"
          type="text"
          id="username"
          name="username"
          placeholder="Enter your username"
          required
        />
        <br>
        <label for="password">Wachtwoord</label>
        <input
          class="input"
          type="password"
          id="password"
          name="password"
          placeholder="Enter your password"
          required
        />
        <br>
        <input class="submit" type="submit" value="Login"/> 
      </form>
      <br />
      <div>Heeft u geen account?<a href="/signup">Sign Up</a></div>
    </section>
  </main>
</body>
<%- include('partials/footer'); %>
