<%- include('partials/header'); %>
<section>
  <div class="form-post">
    <h2>Sign Up</h2><br>
    <form action="/newuser" method="POST">
      <label for="username:"> Username </label>
      <input type="text" id="username" name="username" value="user_example" required/>
      <label for="emailAddress"> EmailAddress </label>
      <input type="text" id="emailAddress" name="emailAddress" value="user@example.com" required/>
      <label for="password"> Password </label>
      <input type="password" id="password" name="password" value="123456789" required/>
      <input type="submit"/>
    </form>
  </div>
</section>
<%- include('partials/footer'); %>
