<%- include('partials/header'); %>
<body>
  <main>
    <section class="main_login">
      <div class="form-post">
        <h2>Sign Up</h2>
        <br />
        <form action="/starterPokemon" method="POST" class="login">
          <label for="username:"> Username </label>
          <input
            class="input"
            type="text"
            id="username"
            name="username"
            value="user_example"
            required
          /><br />
          <label for="emailAddress"> EmailAddress </label>
          <input
            class="input"
            type="text"
            id="emailAddress"
            name="emailAddress"
            value="user@example.com"
            required
          /><br />
          <label for="password"> Password </label>
          <input
            class="input"
            type="password"
            id="password"
            name="password"
            value="123456789"
            required
          /><br />
          <input class="submit" type="submit" />
        </form>
      </div>
    </section>
  </main>
</body>
<%- include('partials/footer'); %>
