<%- include('partials/headerLogin'); %>
<body>
  <main style="margin: auto;">
    <section class="main_login">
      <div class="form-post">
        <h2>Registreren</h2>
        <br />
        <form action="/createPlayer" method="post" class="login">
          <label for="username:"> Gebruikersnaam </label>
          <input
            class="input"
            type="text"
            id="username"
            name="username"
            value="user_example"
            required
          /><br />
          <label for="emailAddress"> e-mail </label>
          <input
            class="input"
            type="email"
            id="email"
            name="email"
            value="user@example.com"
            required
          /><br />
          <label for="password"> Wachtwoord </label>
          <input
            class="input"
            type="password"
            id="password"
            name="password"
            value="123456789"
            required
          /><br />
          <input class="submit" type="submit" value="Nieuw account maken" />
        </form>
      </div>
    </section>
  </main>
  <% if (message) { %>
  <div
    id="overlay-message-CurrentPokemon"
    style="display: block"
    class="overlay"
  >
    <dialog
      id="popup-message-CurrentPokemon"
      style="display: block"
      class="popup"
    >
      <h2><%= message %></h2>
      <button
        style="float: right"
        onclick="closePopupMessageCurrentPokemon()"
        id="button"
      >
        Close
      </button>
    </dialog>
  </div>
  <% } %>
</body>
<%- include('partials/footerLogin'); %>
