@font-face {
  font-family: pokemon;
  src: url("/fonts/pokemon-puzzle-challenge-gb.ttf");
}

html,
body {
  margin: 0;
  /* het is hier het beste als we met (min-height)  werken voor toekomstige veranderingen */
  /* height: 100vh; */
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif; main-landing
}

body {
  display: grid;
  grid-template-areas:
    "header header header"
    "main main main"
    "main main main"
    "footer1 footer1 footer1"
    "footer2 footer2 footer2";
  grid-template-rows: auto 1fr auto auto auto;
}

/* Navigation styling */

nav {
  display: flex;
  align-items: center;
  grid-area: header;
  background-color: #ffde00;
  padding: 8px;
  margin: 0;
  border-radius: 3px;
  margin-bottom: 1rem;
}

.nav-landing {
  background-color: #e60005;
  color: #ffffff;
}

.dropdown {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

nav img {
  width: 100px;
}
nav a {
  font-family: pokemon;
  text-decoration: none;
  color: #3b4cca;
  font-size: 2rem;
  padding: 8px;
}
.pfp-nav {
  border-radius: 50%;
  width: 50px;
  border: 1px solid black;
}
nav ul {
  list-style: none;
}
.current-pokemon {
  background-color: #c1cad3;
  border: 3px solid #3b4cca;
  border-radius: 50%;
  margin-left: auto;
  width: 75px;
}

/* Main content area */

main {
  grid-area: main;
  display: flex;
  align-items: center;
  align-content: center;
}

/* Flex container voor Pokemons */

.flex-container {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  width: 90%;
  margin: auto;
}

/* Styling voor individual Pokemon */

.pokemon {
  display: flex;
  flex-direction: column;
  flex-basis: 10%;
  margin: auto;
  align-items: center;
  margin-top: 25px;
  border-radius: 10px;
  background-color: #c1cad3;
  border: 3px solid #3b4cca;
  justify-content: space-between;
}

.pokemon button {
  padding: 5px 10px;
  font-size: 16px;
  border: 2px solid #3b4cca;
  color: #ffffff;
  background-color: #3b4cca;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  margin: 7.5px;
}

.pokemon button:hover {
  background-color: #FF0000;
  border-color: #3B4CCA;
} 


.pokemon p {
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  text-transform: uppercase;
}

/* Styling voor vergelijken */

.compare {
  display: flex;
  width: 80%;
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: auto;
}
.compare-item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: 27%;
  align-items: center;
  border-radius: 10px;
  background-color: #c1cad3;
  border: 3px solid #3b4cca;
  justify-content: space-between;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.compare-item a {
  display: flex;
}
.compare-item img {
  background-color: #f0f0f0;
  border: 1.5px solid #343434;
  border-radius: 5px;
}
.compare button, #button {
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #3b4cca;
  color: #ffffff;
  background-color: #3b4cca;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  margin: 7.5px;
}

.nav-landing a {
  font-family: Arial, Helvetica, sans-serif;
}

.compare button:hover {
  background-color: #ff0000;
  border-color: #3b4cca;
}
.layer {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 7.5px;
  z-index: 1; /* laag bovenop de inhoud */
  text-align: center;
  justify-content: center;
  align-items: center;
}

.login{
  display: flex;
  align-items: center;
}

.main_login{
  margin-left: auto;
  margin-right: auto;
    margin-top: 1rem;
    height: 100%;
}

.submit{
  width: 280px;
  padding: 5px 10px;
  font-size: 16px;
  border: 2px solid #3B4CCA;
  color: #ffffff;
  background-color: #3B4CCA;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  margin: 7.5px;
  font-family: pokemon;
}

.input{
  display: flex;
  flex-direction: column;
  flex-basis: 10%;
  margin: auto;
  margin-top: 15px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: #c1cad3;
  border: 3px solid #3B4CCA;
  justify-content: space-between;
}

.body_login{
  align-content: center;
}

/* Styling voor vergelijken close-button */

.layer-close-button {
  position: absolute;
  top: 0; 
  right: 0;
  z-index: 1; /* laag bovenop de inhoud */
}
.layer-close-button button{
  color: #343434;
  font-size: 18px;
  background-color: transparent;
  border: 2px solid #3b4cca;;
  padding: 5px 10px;
  background-color: #3b4cca;
  border-radius: 50%;
  font-weight: bolder;
}
.layer-close-button button:hover{
  color: #343434;
  font-size: 18px;
  background-color: transparent;
  border: 2px solid #3b4cca;;
  background-color: #ff0000;
  border-radius: 50%;
  
}

/* Style voor de (popup) */

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

/* Overlay style (popup) */

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/* Style voor images (popup) */
.popup
.image-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 10px;
  margin: 4px, 4px;
  padding: 4px;
  width: 600px;
  height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: justify;
  margin: auto;
}
.image-container img {
  height: auto;
  cursor: pointer;
  margin-right: 5px;
}
.image-container p {
  text-align: center;
  font-weight: bolder;
}

/* Footer styling */

footer {
  color: #3b4cca;
  font-family: pokemon;
  font-size: 0.75rem;
  height: 120px;
  background-color: #ffde00;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-logo {
  width: 100px;
}
.footer-1,
.footer-1-landing {
  margin-top: 1rem;
  grid-area: footer1;
}
.footer-2,
.footer-2-landing {
  border-top: 1px solid gray;
  font-size: 0.5rem;
  height: 1.25rem;
  grid-area: footer2;
  justify-content: center;
}
footer a {
  color: #3b4cca;
}

footer a {
  color: #3b4cca;
}

.footer-1-landing,
.footer-2-landing {
  background-color: #e60005;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.footer-1-landing a {
  color: #ffffff;
}

.footer-icon {
  height: 1rem;
}
footer article {
  padding: 8px;
}

.green-ball,
.red-ball {
  height: 32px;
}

.main-landing section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.main-landing {
  display: flex;
  justify-content: center;
}

.main-landing a {
  text-decoration: none;
  background-color: #c1cad3;
  color: #3b4cca;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
  max-width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid #e60005;
  flex-basis: 33%;
  margin: 2rem;
  transition: background-color 0.3s ease;
}

.fifa {
  background-image: url("/images/football-stadium-night-generative-ai_260559-480.avif"); /*bron: https://commons.wikimedia.org/wiki/File:Thimiane.jpg*/
  background-size: cover;
}

.lotr {
  background-image: url("/images/den7ba0-d24fac90-f6a6-44b9-b020-f0f15e8272c4.png"); /*bron: https://www.deviantart.com/thedemonicmaster/art/The-One-Ring-885498840*/
  background-size: contain;
}

.fortnite {
  background-image: url("/images/Fortnite_F_lettermark_logo.png"); /*bron: https://commons.wikimedia.org/wiki/File:Fortnite_F_lettermark_logo.png*/
  background-size: contain;
}

.pokemon-landing {
  background-image: url("/images/dexythf-a001be4d-d27b-47e8-b296-7b03bc9add93.png"); /*bron: https://www.deviantart.com/invisibleinkdoodles/art/Pikachu-903578307*/
  background-size: contain;
}

.lm {
  background-image: url("/images/3005-brick-1x1-rood.png"); /*bron: https://haanderik.nl/wp-content/uploads/2020/06/3005-brick-1x1-rood.png*/
  background-size: contain;
}

.mtg {
  background-image: url("/images/images.png"); /*bron: https://www.goodfon.com/games/wallpaper-hugh-pindur-magic-the-gathering-krylia-peria-sirena.html*/
  background-size: contain;
}

.main-landing a:hover {
  background-color: #ffde00;
}

.hamburger {
  display: none;
}

.login {
  display: flex;
  align-items: center;
}

.login-landing {
  color: #ffffff;
  display: flex;
  align-items: center;
  margin-left: auto;
}

.nav-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.pokeball-404 {
  height: 250px;
}

h3 {
  background-color: #e60005;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
}

.main-404 h1 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 250px;
  margin: 1rem 0;
}

.main-404 {
  margin: auto;
  font-family: pokemon;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #3b4cca;
}

.home{
  width: 10rem;
  border: 3px solid #3B4CCA;
}

.home_page{
  display: flex;
  justify-content: center;
  height: 100%;
}

.home_page section{
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  html,
  body {
    max-width: 100%;
  }

  body {
    grid-template-areas:
      "header"
      "main"
      "main"
      "footer1"
      "footer2";
    grid-template-rows: auto 1fr auto auto auto;
  }

  .pokemon{
    flex-basis: 44%;
  }

  .login-landing {
    margin-left: 0;
  }

  .nav-section {
    align-items: flex-start;
  }

  .dropdown {
    display: none;
  }
  .dropdown.open {
    display: flex;
    flex-direction: column;
  }

  .hamburger {
    display: flex;
    margin-right: auto;
    padding: 0;
    background-color: transparent;
    border: none;
  }

  .hamburger-icon {
    width: 32px;
    height: 32px;
  }

  .main-landing section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .main-landing {
    display: flex;
    justify-content: center;
  }

  .main-landing a {
    text-decoration: none;
    color: #3b4cca;
    font-family: pokemon;
    border-radius: 20px;
    max-width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid #e60005;
    flex: 1 0 33%;
    margin: 2rem;
  }

  nav {
    max-height: fit-content;
  }

  .current-pokemon {
    margin-left: 0;
  }

  .main-404 h1 {
    font-size: 100px;
  }

  .pokeball-404 {
    height: 100px;
  }
}
