@font-face {
  font-family: pokemon;
  src: url("/fonts/Pokemon_Solid.ttf");
}

html,
body {
  margin: 0;
  /* het is hier het beste als we met (min-height)  werken voor toekomstige veranderingen */
  /* height: 100vh; */
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: grid;
  grid-template-areas:
    "nav nav nav"
    "main main main"
    "main main main"
    "footer1 footer1 footer1"
    "footer2 footer2 footer2";
  grid-template-rows: auto 1fr 1fr auto auto;
}

/* Navigation styling */

nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  grid-area: nav;
  background-color: #ffde00;
  padding: 8px;
  margin: 0;
  height: 120px;
  border-radius: 3px;
}
nav img {
  width: 100px;
}
nav a {
  font-family: pokemon;
  text-decoration: none;
  color: #3b4cca;
  font-size: 2rem;
  padding: 8px;
}
.pfp-nav {
  border-radius: 50%;
  width: 50px;
  border: 1px solid black;
}
nav ul {
  list-style: none;
}
.current-pokemon {
  background-color: rgba(59, 76, 202, 0.75);
  border-radius: 50%;
  margin-left: auto;
}

/* Main content area */

main  {
  grid-area: main;
}

/* Flex container for Pokemons */

.flex-container {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  width: 90%;
  margin: auto;
}

/* Styling for individual Pokemon */

.pokemon {
  display: flex;
  flex-direction: column;
  flex-basis: 10%;
  margin: auto;
  align-items: center;
  margin-top: 25px;
  border-radius: 10px;
  background-color: #c1cad3;
  border: 3px solid #3B4CCA;
  justify-content: space-between;

}

.pokemon button {
  padding: 5px 10px;
  font-size: 16px;
  border: 2px solid #3B4CCA;
  color: #ffffff;
  background-color: #3B4CCA;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease;
  margin: 7.5px;
}

.pokemon button:hover {
  background-color: #FF0000;
  border-color: #3B4CCA;
}

.pokemon p{
  font-family:'Courier New', Courier, monospace;
  font-weight: bolder;
  text-transform: uppercase;
}

/* Footer styling */

footer {
  color: #3b4cca;
  font-family: pokemon;
  font-size: 0.75rem;
  height: 120px;
  background-color: #ffde00;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-logo {
  width: 100px;
}
.footer-1 {
  margin-top: 1rem;
  grid-area: footer1;
}
.footer-2 {
  border-top: 1px solid gray;
  font-size: 0.5rem;
  height: 1.25rem;
  grid-area: footer2;
  justify-content: center;
}
footer a{
  color: #3b4cca;
}
.footer-icon {
  height: 1rem;
}
footer article {
  padding: 8px;
}

/* media queries for smaller screens */

@media screen and (max-width: 768px) {
}
